doctype html
html(lang="en")
  head
    include includes/meta
    link(rel="stylesheet", href="/styles.css")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
  body
    block content
    script(src="/js.js")
    
